<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.libre">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS"/> -->

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".LibreApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_universal"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ConfigureActivity"
            android:label="@string/title_activity_configure"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayNewActivity"
            android:label="@string/title_activity_configure"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActiveScenesListActivity"
            android:label="@string/title_activity_active_scenes_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Network.SacListActivity"
            android:label="@string/title_activity_sac_list_speakers"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Network.ssid_configuration"
            android:label="@string/title_activity_speakers_setup"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageDevice.ManageDevices"
            android:label="@string/title_activity_manage_device"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- receiver for hardware volume -->
        <!-- <receiver android:name=".VolumeReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.media.VOLUME_CHANGED_ACTION" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <service android:name=".ForegroundService" /> -->
        <!-- added new activity -->
        <activity
            android:name=".NewManageDevices.NewManageDevices"
            android:label="@string/title_activity_manage_device"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageDevice.CreateNewScene"
            android:label="@string/title_activity_select_source_device"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nowplaying.NowPlayingActivity"
            android:label="@string/title_now_playing"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Network.LSSDPDeviceNetworkSettings"
            android:label="@string/title_activity_lssdp_network_Settings"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nowplaying.DeviceList"
            android:label="@string/title_activity_device_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RemoteSourcesList"
            android:label="@string/title_activity_remote_sources_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TuneInRemoteSourcesList"
            android:label="@string/title_activity_remote_sources_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SourcesOptionActivity"
            android:label="@string/title_activity_sources_option"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.dlna.dmc.DMSBrowserActivity"
            android:label="@string/dmsbrowseractivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.dlna.dmc.DMSDeviceListActivity"
            android:label="@string/title_activity_dmsdevice_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".led.LedActivity"
            android:hardwareAccelerated="false"
            android:label="@string/led_controller"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.dlna.dmc.LocalDMSActivity"
            android:label="@string/dmsbrowseractivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".app.dlna.dmc.processor.upnp.CoreUpnpService" />
        <service
            android:name=".app.dlna.dmc.processor.upnp.LoadLocalContentService"
            android:exported="false" />

        <activity
            android:name=".Network.NewSacActivity"
            android:label="@string/title_activity_new_sac"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BassEffectActivity"
            android:label="@string/title_activity_bass_effect"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gcast"
            android:label="@string/title_activity_gcast"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GcastSources"
            android:label="@string/title_activity_gcast"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Network.NewSacDevicesActivity"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SacSettingsOption"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SacSettingsPairShare"
            android:label="@string/pair_share_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Network.SacSettingsPairShareScreen2"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Network.SacInstructionsActivity"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LibreWebViewActivity"
            android:label="@string/speaker_setup_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".StaticInstructions.spotifyInstructions" />

        <service
            android:name=".DMRDeviceListenerForegroundService"
            android:exported="false" />

        <activity
            android:name=".Network.SacActivityScreenForLaunchWifiSettings"
            android:label="@string/title_activity_sac_activity_screen_for_launch_wifi_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ls9Sac.ConnectingToMainNetwork"
            android:label="@string/title_activity_connecting_to_main_network"
            android:parentActivityName="com.cumulations.libreV2.activity.CTDeviceDiscoveryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cumulations.libreV2.activity.CTDeviceDiscoveryActivity" />
        </activity>
        <activity
            android:name=".Ls9Sac.GoogleCastUpdateAfterSac"
            android:label="@string/title_activity_google_cast_update_after_sac"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ls9Sac.GcastUpdateStatusAvailableListView"
            android:label="@string/title_activity_gcast_update_status_available"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alexa_signin.AlexaSignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alexa_signin.AlexaThingsToTryDoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amazon.identity.auth.device.authorization.AuthorizationActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="amzn" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alexa_signin.AlexaContactsActivity"
            android:label="@string/alexa_contacts_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alexa_signin.AlexaLangUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alexa.userpoolManager.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.RegisterUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.AboutApp"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.SignUpConfirm"
            android:label="@string/title_activity_sign_up_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.MFAActivity"
            android:label="@string/title_activity_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.VerifyActivity"
            android:label="@string/title_activity_verify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.AddAttributeActivity"
            android:label="@string/title_activity_add_attribute"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.DeviceSettings"
            android:label="@string/title_activity_device_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.userpoolManager.NewPassword"
            android:label="@string/title_activity_new_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexa.AudioRecordDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <!-- Cumulations -->
        <activity
            android:name="com.cumulations.libreV2.activity.CTSplashScreenActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cumulations.libreV2.activity.CTConnectToWifiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTWifiListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTConnectingToMainNetwork"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTAmazonInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTAmazonLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTAlexaThingsToTryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTDeviceSettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.cumulations.libreV2.activity.CTSetupFailedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTHomeTabsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTMediaSourcesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTNowPlayingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTDMSBrowserActivityV2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTUpnpFileBrowserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTDeviceBrowserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b0f91dc7a6f0d7ee35d247281ac32a618a418970" />
    </application>

</manifest>