<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.libre.qactive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS"/> -->


    <uses-permission android:name="android.permission.GET_TASKS"/>


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".LibreApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/app_icon_circle"
        android:icon="@mipmap/app_icon_square"
        android:label="@string/qactive"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:node="replace">

        <service android:name=".app.dlna.dmc.processor.upnp.CoreUpnpService" />
        <service
            android:name=".app.dlna.dmc.processor.upnp.LoadLocalContentService"
            android:exported="false" />

        <service
            android:name=".DMRDeviceListenerForegroundService"
            android:exported="false" />

        <activity android:name=".StaticInstructions.spotifyInstructions" />

        <activity
            android:name=".Ls9Sac.GoogleCastUpdateAfterSac"
            android:label="@string/title_activity_google_cast_update_after_sac"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ls9Sac.GcastUpdateStatusAvailableListView"
            android:label="@string/title_activity_gcast_update_status_available"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--<activity-->
        <!--android:name="com.amazon.identity.auth.device.authorization.AuthorizationActivity"-->
        <!--android:allowTaskReparenting="true"-->
        <!--android:launchMode="singleTask"-->
        <!--android:theme="@android:style/Theme.NoDisplay">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->

        <!--<data-->
        <!--android:host="${applicationId}"-->
        <!--android:scheme="amzn" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name="com.amazon.identity.auth.device.workflow.WorkflowActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- android:host must use the full package name found in Manifest General Attributes -->
                <data android:host="${applicationId}" android:scheme="amzn"/>
            </intent-filter>
        </activity>


        <!-- Cumulations -->
        <activity
            android:name="com.cumulations.libreV2.activity.CTSplashScreenActivityV2"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.cumulations.libreV2.activity.CTConnectToWifiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTWifiListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTConnectingToMainNetwork"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTAmazonInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTAmazonLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTAlexaThingsToTryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTDeviceSettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.cumulations.libreV2.activity.CTSetupFailedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cumulations.libreV2.activity.CTHomeTabsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTMediaSourcesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTNowPlayingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTDMSBrowserActivityV2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTUpnpFileBrowserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTDeviceBrowserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cumulations.libreV2.activity.CTDMSDeviceListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.cumulations.libreV2.activity.CTLocalDMSActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b0f91dc7a6f0d7ee35d247281ac32a618a418970" />

        <activity android:name="com.cumulations.libreV2.activity.CTSourceSelectionActivity" />
        <activity android:name="com.cumulations.libreV2.activity.CTSourceSettingsActivity" />
        <activity android:name="com.cumulations.libreV2.activity.CTUserRegistration" />
        <activity android:name="com.cumulations.libreV2.activity.CTFirmwareUpdateNotificationActivity4Hours" />
        <activity android:name="com.cumulations.libreV2.activity.CTFirmwareUpdateNotificationsActivity3Min" />
        <activity android:name="com.cumulations.libreV2.activity.CTQactiveRegDetailsActivity" />

    </application>

</manifest>